<div class="w-75 m-auto my-5 py-5 text-capitalize">

  <ul *ngIf="errorMessage" class="alert alert-danger text-center">
    <li>{{errorMessage}}</li>
  </ul>

  <form *ngIf="!isSendEmail" [formGroup]="emailForm" class="p-5 rounded shadow vstack gap-2"
    (ngSubmit)="forgotPassword(emailForm)">

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="email" placeholder="Email" id="email" [ngClass]="{
        'is-valid':!emailForm.get('email')?.errors && emailForm.get('email')?.touched,
        'is-invalid':emailForm.get('email')?.errors && emailForm.get('email')?.touched
      }">
      <ul *ngIf="emailForm.get('email')?.errors && emailForm.get('email')?.touched"
        class="alert alert-danger p-1 text-center">
        <li *ngIf="emailForm.get('email')?.getError('required')">Email is required</li>
        <li *ngIf="emailForm.get('email')?.getError('email')">Email not valid</li>
      </ul>
      <label for="email">Email</label>
    </div>

    <button [disabled]="emailForm.invalid" type="submit" id="btn-login" class="btn btn-bg-main my-2">
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Send</span>
    </button>
  </form>

  <form *ngIf="isSendEmail && !isSendCode" [formGroup]="codeForm" class="p-5 rounded shadow vstack gap-2"
    (ngSubmit)="resetCode(codeForm)">

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="resetCode" placeholder="Reset Code" id="resetCode"
        [ngClass]="{
        'is-valid':!codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched,
        'is-invalid':codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched
      }">
      <ul *ngIf="codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched"
        class="alert alert-danger p-1 text-center">
        <li *ngIf="codeForm.get('resetCode')?.getError('required')">Code is required</li>
      </ul>
      <label for="resetCode">Reset Code</label>
    </div>

    <button [disabled]="codeForm.invalid" type="submit" id="btn-login" class="btn btn-bg-main my-2">
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Send Code</span>
    </button>
  </form>

  <form *ngIf="isSendCode" [formGroup]="resetPasswordForm" class="p-5 rounded shadow vstack gap-2"
    (ngSubmit)="resetPassword(resetPasswordForm)">

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="email" placeholder="Email" id="email" [ngClass]="{
        'is-valid':!resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched,
        'is-invalid':resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched
      }">
      <ul *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched"
        class="alert alert-danger p-1 text-center">
        <li *ngIf="resetPasswordForm.get('email')?.getError('required')">Email is required</li>
        <li *ngIf="resetPasswordForm.get('email')?.getError('email')">Email not valid</li>
      </ul>
      <label for="email">Email</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="newPassword" placeholder="New Password" id="newPassword"
        [ngClass]="{
        'is-valid':!resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched,
        'is-invalid':resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched
      }">
      <ul *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched"
        class="alert alert-danger p-1 text-center">
        <li *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">password is required</li>
        <li *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">password mast be contains upper, lower
          character and numbers</li>
      </ul>
      <label for="newPassword">New Password</label>
    </div>

    <button [disabled]="resetPasswordForm.invalid" type="submit" id="btn-login" class="btn btn-bg-main my-2">
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Submit</span>
    </button>
  </form>
</div>