<div class="w-75 m-auto my-5 py-5 text-capitalize">

  <ul *ngIf="errorMessage" class="alert alert-danger text-center">
    <li>{{errorMessage}}</li>
  </ul>

  <form [formGroup]="changePasswordForm" class="p-5 rounded shadow vstack gap-2"
    (ngSubmit)="changePassword(changePasswordForm)">

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="currentPassword" placeholder="currentPassword"
        id="currentPassword" [ngClass]="{
        'is-valid':!changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched,
        'is-invalid':changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched
      }">
      <ul
        *ngIf="changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched"
        class="alert alert-danger p-1 text-center">
        <li *ngIf="changePasswordForm.get('currentPassword')?.getError('required')">Current Password is required</li>
        <li *ngIf="changePasswordForm.get('currentPassword')?.getError('pattern')">password mast be contains upper,
          lower character and numbers</li>
      </ul>
      <label for="currentPassword">Current Password</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="password" placeholder="Password" id="password" [ngClass]="{
        'is-valid':!changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched,
        'is-invalid':changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched
      }">
      <ul *ngIf="changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched"
        class="alert alert-danger p-1 text-center">
        <li *ngIf="changePasswordForm.get('password')?.getError('required')">password is required</li>
        <li *ngIf="changePasswordForm.get('password')?.getError('pattern')">password mast be contains upper, lower
          character and numbers</li>
      </ul>
      <label for="password">Password</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" formControlName="rePassword" placeholder="RePassword" id="rePassword"
        [ngClass]="{
        'is-valid':!changePasswordForm.get('rePassword')?.errors && changePasswordForm.get('rePassword')?.touched,
        'is-invalid':changePasswordForm.get('rePassword')?.errors && changePasswordForm.get('rePassword')?.touched
      }">
      <ul *ngIf="changePasswordForm.get('rePassword')?.errors && changePasswordForm.get('rePassword')?.touched"
        class="alert alert-danger p-1 text-center">
        <li *ngIf="changePasswordForm.get('rePassword')?.getError('required')">RePassword is required</li>
        <li *ngIf="changePasswordForm.get('rePassword')?.getError('pattern')">RePassword mast be contains upper, lower
          character
          and
        <li *ngIf="changePasswordForm.get('rePassword')?.getError('matchRePassword')">RePassword and Password Not
          Matched</li>
      </ul>
      <label for="rePassword">RePassword</label>
    </div>

    <button [disabled]="changePasswordForm.invalid" type="submit" id="btn-submit" class="btn btn-bg-main my-2">
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Submit</span>
    </button>
  </form>
</div>