<div class="row mt-5 pt-5">
  <div class="col-md-12">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="./assets/images/main-slider-1.png" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="./assets/images/main-slider-2.png" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="./assets/images/main-slider-3.png" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="./assets/images/main-slider-4.png" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="./assets/images/main-slider-5.png" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="./assets/images/main-slider-6.png" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>
</div>